/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

body {
    min-width: 320px;
    max-width: 100%;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.content-960 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.btn {
    width: 159px;
    height: 25px;
    line-height: 25px;
    border-radius: 12px;
    background-color: #60e001;
    border: 0;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}
.btn_blue {
    background: #2c7db2;
}

.logo {
    position: absolute;
    display: block;
    text-decoration: none;
    top: 28px;
    left: 0;
}
.logo__text {
    display: block;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    margin-top: 8px;
    font-weight: 400;
}

.header {
    position: relative;
    width: 100%;
    height: 137px;
    background: url(../img/header-bg.png) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.header .content-960 {
    position: relative;
    z-index: 1;
    height: 100%;
}
.header h1 {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 453px;
    font-size: 30px;
    line-height: 35px;
    padding-top: 30px;
}
.header__right {
    position: absolute;
    top: 0;
    right: 0;
}
.header__personal-area {
    float: right;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    padding-top: 7px;
}
.header__personal-area img {
    vertical-align: text-top;
    margin-right: 5px;
}
.header__adress {
    white-space: nowrap;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 175px;
}
.header__adress ul {
    margin-top: 28px;
}
.header__adress ul li {
    position: relative;
    text-align: right;
}
.header__adress img {
    position: absolute;
    top: 0;
    left: 0;
}
.header__adress ul li:nth-child(1) img {
    top: 2px;
    left: 3px;
}
.header__adress ul li:nth-child(2) img {
    top: 4px;
    left: 1px;
}
.header__adress ul li:nth-child(3) img {
    top: 6px;
}

.ie .hide-ie {
    display: none;
}

.header .btn {
    float: right;
    margin-top: 3px;
}
.nav__header {
    position: absolute;
    overflow: hidden;
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: -50px;
    box-shadow: 1px 2px 5px rgba(17, 18, 18, 0.26);
}
.nav__header ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
}
.nav__header ul li {
    position: relative;
    flex-grow: 1;
}
.nav__header ul li:first-child:after {
    display: none;
}
.nav__header ul li:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 2px;
    height: 53px;
    background: url(../img/nav-header.png) center center no-repeat;
}
.nav__header ul li a {
    display: block;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.nav__header ul li a:hover {
    color: #fff;
    background-color: #2c7db2;
}

.ie .nav__header ul {
    display: block;
    white-space: nowrap;
    font-size: 0;
}
.ie .nav__header ul li {
    display: inline-block;
    vertical-align: top;
}
.ie .nav__header ul li:hover {
    background: #2c7db2;
}
.ie .nav__header ul li:hover a {
    color: #fff;
}


.sub-header {
    height: 75px;
    line-height: 76px;
    margin-top: 50px;
    background-color: #2c7db2;
}
.sub-header .content-960 {
    position: relative;
    padding-right: 180px;
}
.sub-header__search {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #bfc0c0;
    background-color: #ffffff;
    padding: 0 15px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 18px;
}
.sub-header button {
    position: absolute;
    top: 18px;
    right: 0;
    width: 137px;
    height: 36px;
    line-height: 36px;
    border-radius: 17px;
    border: 1px solid #476c87;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #f3f3f3 0%, #c8c8c8 100%);
    color: #303030;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
}


.content-960_with-padding-1 {
    position: relative;
    padding-top: 17px;
    padding-right: 320px;
}
.content-960_with-padding-1 .right-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    padding-top: 17px;
}
.content-960_with-padding-1 .left-block {
    width: 100%;
}


.right-block__header {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.right-block__item-news {
    padding: 0 20px;
    margin: 0 auto;
}
.right-block__item-news,
.right-block__item-news-date {
    color: #202020;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.right-block__item-news-date {
    padding-bottom: 5px;
    text-decoration: underline;
}
.right-block__item-news:after {
    display: block;
    content: '';
    width: 81%;
    margin: 20px auto;
    border-bottom: 1px dashed #c1c1c1;;
}
.right-block__item-news:last-child:after {
    display: none;
}
.right-block__number {
    text-align: center;
    height: 135px;
    line-height: 135px;
    background: url(../img/right-block__number-bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 23px;
    font-weight: bold;
    margin-top: 26px;
    margin-bottom: 26px;
}
.right-block__big-news > img {
    width: 100%;
    height: auto;
}
.right-block__big-news .right-block__header {
    margin-bottom: 22px;
}
.right-block__big-news {
    color: #343434;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.list-success:after {
    content: '';
    clear: left;
    display: block;
}
.list-success.list-success_2 {
    padding-bottom: 20px;
    border-bottom: 1px dashed #c1c1c1;
}
.list-success li {
    position: relative;
    width: 100%;
    float: left;
    padding-left: 117px;
    color: #202020;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-right: 20px;
}
.list-success li p {
    margin: 0;
}
.list-success.list-success_2 li {
    width: 50%;
}
.list-success.list-success_3 li {
    width: 33.333333333%;
}
.list-success li img {
    float: left;
    margin-left: -117px;
    width: 93px;
    height: 93px;
}
.list-success__header {
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 3px;
}

.next-courses__main-header {
    text-align: center;
    color: #292929;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.next-courses__list {
    margin-right: -10px;
}
.next-courses__list_like-line li {
    float: none !important;
    width: 100% !important;
}

.ie-9 .next-courses__list {
    margin-right: 0;
}

.next-courses__list:after {
    content: ' ';
    display: table;
    clear: left !important;
}
.next-courses__list li {
    float: left;
    width: 50%;
    padding-right: 10px;
    padding-bottom: 10px;
}
.next-courses__content {
    position: relative;
    overflow: hidden;
    background-color: #edf3f7;
    padding: 10px;
}
.next-courses__content * {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.next-courses__when {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
.next-courses__when span:first-child {
    float: none;
    text-decoration: underline;
    color: #000000;
    font-weight: 700;
}
.next-courses__when span {
    color: #646464;
    float: right;
    font-weight: 400;
}
.next-courses__header {
    color: #092e58;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-top: 8px;
}
.next-courses__content > .next-courses__header {
    position: relative;
    padding-bottom: 15px;
    bottom: -8px;
}
.next-courses__content_action > .next-courses__header {
    bottom: 0;
}

.ie-9 .next-courses__header {
    font-size: 20px;
}

.next-courses__time {
    margin-top: 8px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
}
.next-courses__time > span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    background: url(../img/next-courses__time-bg.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.next-courses__price {
    position: relative;
    color: #60e001;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    float: right;
    margin-top: -35px;
}
.next-courses__price > span {
    top: -15px;
    right: 0;
    position: absolute;
    color: #434343;
    font-size: 16px;
    text-decoration: line-through;
}

.ie-9 .next-courses__desc {
    font-size: 15px;
}

.next-courses__desc {
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 1;
    color: #6a6a6a;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
.next-courses__desc .next-courses__header {
    padding-top: 0;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 7px;
    margin-bottom: 5px;
    line-height: 1;
}
.next-courses__desc a {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: underline;
    float: right;
}
.next-courses__content:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}
.next-courses__content:hover .next-courses__desc {
    top: 0;
}
.next-courses__group-header {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.next-courses__all {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    float: right;
    margin-top: -1px;
}


.middle-list-success {
    padding-top: 26px;
}


.about-delfa {
    background: url(../img/about-delfa-bg.png) top center no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    font-family: 'PT Sans', sans-serif;
    color: #092e58;
    font-size: 18px;
    font-weight: 700;
    height: 300px;
    padding-top: 30px;
    margin-top: 20px;
}
.about-delfa__header {
    color: #fefefe;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.about-delfa span {
    display: block;
    margin-top: 20px;
}


.why-we {
    width: 100%;
    overflow: hidden;
    margin-top: -60px;
}
.why-we .content-960 {
    padding-right: 320px;
}
.why-we__header {
    color: #292929;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-right: -320px;
}
.why-we__product-list {
    margin-right: -327px;
    margin-bottom: 17px;
}
.why-we__product-list li {
    float: left;
    width: 25%;
    padding-right: 7px;
}
.why-we__content {
    position: relative;
    background: #fff;
    overflow: hidden;
    height: 145px;
    border: 2px solid #e5ebee;
    border-radius: 2px;
}
.why-we__content:hover {
    border-color: #fff;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}
.why-we__content:hover .why-we__product-list-desc {
    top: 0;
}
.why-we__content img {
    position: relative;
    top: 5px;
    left: 5px;
}
.why-we__product-list-header {
    color: #092e58;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-left: 50px;
    position: absolute;
    left: 10px;
    top: 60px;
}

.ie-9 .why-we__product-list-header {
    font-size: 16px;
}


.why-we__product-list-desc {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #fff;
    color: #3e3e3e;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    padding: 10px;
}
.why-we__product-list-desc a {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.why-we__product-list li:nth-child(1) .why-we__product-list-header {
    left: 40px;
}
.why-we__product-list li:nth-child(2) .why-we__product-list-header {
    left: 10px;
}
.why-we__left .why-we__header {
    margin-right: 0;
}
.why-we__right {
    margin-right: -320px;
    width: 300px;
    float: right;
}
.why-we__advertising {
    position: relative;
    height: 116px;
    background: url(../img/why-we__advertising.png) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.why-we__advertising h6 {
    margin: 0;
    position: absolute;
    width: 100%;
    color: #092e58;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    margin-top: -16px;
}
.why-we__advertising span {
    position: absolute;
    color: #999999;
    font-family: 'PT Sans', sans-serif;
    font-size: 9px;
    font-weight: 700;
    right: 5px;
    bottom: 1px;
}
.why-we__teachers {
    width: 100%;
    margin-right: -10px;
    white-space: nowrap;
}
.why-we__teachers:after {
    content: ' ';
    display: table;
    clear: left;
}
.why-we__teachers li {
    display: inline-block;
    width: 33.33333333333%;
    vertical-align: top;
    padding-right: 10px;
    position: relative;
}
.why-we__teachers__content {
    background: #f5f4f4;
    padding: 10px;
    padding-top: 20px;
    border: 2px solid #eae9e9;
    border-radius: 2px;
}
.why-we__teachers__content:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    background: #fff;
    border-color: #fff;
}
.why-we__teachers-avatar {
    width: 144px;
    height: 144px;
    margin: 0 auto;
    border-radius: 100%;
    background: center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 7px;
}
.why-we__teachers-name {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.why-we__teachers-name span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}
.why-we__teachers-desc {
    color: #2d2d2e;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 22px 0;
    text-align: center;
}
.why-we__teachers-all {
    float: right;
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 9px;
}

.ie-9 .why-we__teachers-desc {
    font-size: 13px;
}

.reviews_page li:last-child .reviews__line {
    display: none;
}
.reviews__header {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 29px;
}
.reviews__list {
    padding: 0 20px;
}
.reviews__list li {

}
.reviews__list p {
    color: #202020;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
}
.reviews__author {
    color: #6c6c6c;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-left: 10px;
}
.reviews__line {
    width: 81%;
    margin: 24px auto;
    border-bottom: 1px dashed #c1c1c1;;
}
.reviews__date {
    color: #585858;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.reviews__view-all {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    float: right;
    margin-top: 5px;
}

.map {
    margin-top: 32px;
    background: url(../img/map-bg.png) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.map .content-960 {
    padding-left: 330px;
    padding-bottom: 35px;
}
.map__left {
    float: left;
    width: 330px;
    margin-left: -330px;
    padding-left: 10px;
    padding-right: 25px;
}
.map__right {
    width: 100%;
}
.map__header {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 20px;
}

.map__form {
    height: 290px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 15px;
}
.map__form input {
    display: block;
    width: 100%;
    height: 33px;
    border-radius: 2px;
    border: 1px solid #ebf0f4;
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 0 15px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 18px;
}
.map__form textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 103px;
    border-radius: 2px;
    border: 1px solid #ebf0f4;
    background-color: #ffffff;
    padding: 5px 15px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 18px;
}
.map__form .btn {
    display: block;
    margin: 0 auto;
    margin-top: 39px;
}
.map__insert {
    width: 100%;
    height: 290px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.footer {
    background: #0b325d;
    padding-bottom: 25px;
}
.footer .content-960 {
    position: relative;
    padding-top: 30px;
    padding-left: 10px;
}
.footer .logo {
    top: auto;
    bottom: 0;
}
.footer__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding-bottom: 125px;
}
.footer__nav li {
    position: relative;
    display: table-cell;
}
.footer__nav li:after {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 15px;
    background: #fff;
    top: 7px;
    right: -45px;
}
.footer__nav li:last-child:after {
    display: none;
}
.footer__nav li a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    text-align: center;
}
.footer__nav li a:hover {
    text-decoration: underline;
}

.ie .footer__nav {
    overflow: hidden;
    white-space: nowrap;
    margin-left: -30px;
}
.ie .footer__nav li {
    display: inline-block;
    vertical-align: middle;
}
.ie .footer__nav li:after {
    right: -5px;
}



.footer__address {
    position: absolute;
    bottom: -7px;
    left: 234px;
}
.footer__address p {
    margin: 0;
}
.footer__address p:nth-child(1) {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
    margin-bottom: 10px;
}
.footer__address p:nth-child(2) {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
.footer__numbers {
    position: absolute;
    bottom: -7px;
    left: 590px;
}
.footer__numbers a {
    display: block;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
}
.footer__numbers a:first-child {
    margin-bottom: 10px;
}


.footer__social {
    position: absolute;
    right: 0;
    bottom: 10px;
}
.footer__social a {
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../img/footer__socials.png) no-repeat;
    margin-right: 10px;
}
.footer__social a:nth-child(1) {
    background-position: 5px 0;
}
.footer__social a:nth-child(2) {
    background-position: -30px 0;
}
.footer__social a:nth-child(3) {
    background-position: -65px 0;
    margin-left: 3px;
    margin-right: 13px;
}
.footer__social a:nth-child(4) {
    background-position: -100px 0;
}
.footer__social a:nth-child(5) {
    background-position: -135px 0;
    margin-right: 0;
}





/* page.html */
.content-960_with-padding-2 {
    padding-right: 320px;
}
.content-960_with-padding-2 .left {
    width: 100%;
}
.content-960_with-padding-2 .right {
    float: right;
    width: 300px;
    margin-right: -320px;
}

.page-right-header {
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.teacher-full__header {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 3px;
}
.teacher-full__content {
    background: #F5F4F4;
    border: 2px solid #EAE9E9;
    border-radius: 2px;
    padding: 20px;
    padding-top: 35px;
}
.teacher-full__avatar {
    width: 210px;
    height: 210px;
    border-radius: 100%;
    margin: 0 auto;
    background: center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.teacher-full__name {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 19px;
}
.teacher-full__desc {
    color: #2d2d2e;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.teacher-full__more {
    float: right;
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 14px;
    margin-bottom: -9px;
    margin-right: -5px;
}


.right-similar-courses {
    padding-bottom: 20px;
}
.right-similar-courses .page-right-header {
    padding-top: 35px;
    padding-bottom: 20px;
}


.right-page .buy-form {
    margin-top: -7px;
}
.buy-form p:first-child,
.send-review p:first-child {
    margin-top: 0;
}
.buy-form p,
.send-review p {
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px;
}
.buy-form input,
.send-review input,
.send-review textarea {
    display: block;
    width: 100%;
    height: 36px;
    box-shadow: inset 0 0 5px rgba(17, 18, 18, 0.21);
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 0 15px;
}
.send-review textarea {
    display: block;
    height: 86px;
    resize: none;
}
.buy-form .btn {
    float: left;
    width: 130px;
    margin-top: 30px;
    margin-top: 12px;
    line-height: 34px;
    height: 34px;
    border-radius: 34px;
}
.buy-form .btn_blue {
    width: 100%;
}
.buy-form .btn_green {
    width: 100%;
    margin-top: -5px;
}
.buy-form__hidden {
    display: none;
}
.send-review .btn {
    float: right;
    margin-top: 12px;
    line-height: 34px;
    height: 34px;
    border-radius: 34px;
}
.right-page .send-review {
    display: block;
    margin-top: -12px;
}

.reviews_page {
    padding-top: 35px;
    padding-bottom: 35px;
}
.reviews_page .reviews__list li {
    width: 100% !important;
}
.reviews_page .reviews__list li .reviews__line {
    visibility: visible !important;
    margin-bottom: 24px !important;
}

.right-page .right-block__news {
    margin-bottom: 0px;
}
.right-page .reviews__author {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 1px;
}
.right-page .reviews__list > li:last-child .reviews__line {
    display: none;
}
.right-page .reviews__view-all {
    margin-bottom: -13px;
}

.bread-crumbs:after {
    content: '';
    display: table;
    clear: left;
}
.bread-crumbs {
    padding-top: 10px;
}
.bread-crumbs li {
    display: inline-block;
    color: #606060 !important;
}
.bread-crumbs li span {
    margin-left: 10px;
    margin-right: 4px;
}
.bread-crumbs li,
.bread-crumbs li a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #2c7db2;
}
.bread-crumbs li a {
    text-decoration: underline;
}
.left-page h1 {
    color: #313131;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 12px;
}
.page-hours {
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
}
.page-hours > span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: url(../img/next-courses__time-bg.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.page-days {
    position: relative;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    bottom: -2px;
}
.page-days > span {
    display: inline-block;
    vertical-align: sub;
    width: 23px;
    height: 23px;
    background: url(../img/page-days-bg.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.page-price {
    position: relative;
    color: #60e001;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}
.page-price > span {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url(../img/price-bg.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.ie-9 .page-days > span {
    vertical-align: text-top;
}

.page-hours,
.page-days,
.page-price {
    float: left;
}
.page-hours,
.page-days {
    margin-right: 22px;
}
.page-start {
    clear: left;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 15px;
}
.page-content {
    color: #313131;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
.page-content h6 {
    color: #313131;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.page-content p {
    margin: 0;
}
.page-content p.after-head {
    margin-top: 15px;
    padding-left: 18px;
}
.page-content ul.after-head {
    padding-left: 65px;
    padding-top: 5px;
}
.page-content ul.after-head li {
    list-style-type: disc;
}
.page-content .video {
    width: 100%;
    margin-top: 5px;
}
.page-content .owl-carousel .item {
    height: 120px;
}
.page-content .owl-carousel .item__image {
    background: center center no-repeat;
    width: 100%;
    height: 100%;
}
.page-content .owl-warp-content {
    position: relative;
    padding: 0 23px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.page-content .owl-warp-content .owl-dots {
    display: none !important;
}
.page-content .owl-warp-content .owl-prev {
    position: absolute;
    display: block;
    width: 15px;
    height: 36px;
    top: 40px;
    left: -28px;
    font-size: 0;
    background: url(../img/owl-prev.png) transparent !important;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.page-content .owl-warp-content .owl-next {
    position: absolute;
    display: block;
    width: 15px;
    height: 36px;
    top: 40px;
    right: -28px;
    font-size: 0;
    background: url(../img/owl-next.png) transparent !important;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.page-content .next-courses__list {
    padding-top: 15px;
}
.clearfix-page {
    padding-bottom: 100px;
}

.right-page-toggle {
    display: none;
    position: fixed;
    text-align: center;
    font-size: 25px;
    top: 50%;
    right: 0;
    width: 60px;
    height: 30px;
    background: #0B325D;
    z-index: 999;
    color: #fff;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    border-radius: 5px 5px 0 0;
    -webkit-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
}
.right-page-toggle.active {
    right: 290px;
}
.right-page-toggle__circles {
    white-space: nowrap;
    margin-top: -4px;
}
.right-page-toggle__circles li {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
}
/* page.html */


/* courses.html */
.courses .list-success {
    padding-top: 18px;
}
.courses .bread-crumbs {
    padding: 15px 0;
}
.courses h1 {
    color: #2c7db2;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    padding-top: 5px;
}
.courses-tabs {
    position: relative;
    width: 100%;
    margin-top: 80px;
}
.courses-tabs:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2c7db2;
}
.courses-tabs .content-960 {
    position: relative;
}
.courses-tabs__tabs {
    white-space: nowrap;
    font-size: 0;
    position: absolute;
    width: 100%;
    left: 0;
}
.courses-tabs__tabs li {
    position: relative;
    cursor: pointer;
    width: 319px;
    height: 59px;
    line-height: 59px;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2c7db2;
    background: url(../img/courses-tabs__tabs-bg.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    margin-right: -30px;
}
.courses-tabs__tabs li.active,
.courses-tabs__tabs li:hover {
    background-image: url(../img/courses-tabs__tabs-bg-active.png);
    color: #fff;
    z-index: 999999;
}
.courses-tabs-warp {
    position: relative;
    height: 59px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    top: -54px;
    margin-bottom: -59px;
}


.courses-content {
    position: relative;
    display: none;
    overflow: hidden;
    max-width: 100%;
}
.courses-content__headers {
    padding-top: 25px;
}
.courses-content__headers li {
    float: left;
    text-align: center;
    width: 33.33333333333%;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.next-courses__list_courses li {
    width: 33.3333333333%;
}
.courses .next-courses__group-header {
    padding-top: 40px;
    margin-top: 0;
}
.courses .next-courses__content {
    margin-bottom: 10px;
}
.courses .next-courses__header {
    text-align: center;
}
.courses-footer {
    padding-top: 5px;
    padding-bottom: 15px;
}
.content-960.courses .courses-content {
    overflow: visible;
}
/* courses.html */




/* article */
.article h1 {
    text-align: center;
    color: #292929;
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.article,
.article p {
    color: #292929;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
.article p {
    margin-top: 0;
    margin-bottom: 10px;
}
.article a {
    color: #0071d0;
    text-decoration: none;
}
.article a:hover {
    text-decoration: underline;
}
.article ul li {
    list-style-type: disc;
}
.article__sub-header {
    margin-left: -25px;
    font-size: 26px;
    padding-bottom: 10px;
}
.article__sub-content {
    padding-left: 25px;
}



/* article */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media(max-width: 970px) {
    .header,
    .sub-header,
    .middle-list-success,
    .about-delfa,
    .why-we,
    .map,
    .footer,
    .list-success.list-success_3,
    .courses .bread-crumbs,
    .courses-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .left-block,
    .left-page {
        padding-left: 10px;
    }
    .right-block,
    .right-page {
        padding-right: 10px;
    }
    .map__left {
        padding-left: 0;
    }
    .footer .content-960 {
        padding-left: 0;
    }

    .why-we .content-960 {
        padding-right: 0;
    }
    .why-we__right {
        float: none;
        margin-right: 0;
        width: 100%;
    }
    .reviews__list {
        padding-left: 0;
        padding-right: 0;
    }
    .reviews__list:after {
        content: '';
        display: table;
        clear: both;
    }
    .reviews__list li {
        width: 25%;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center !important;
    }
    .reviews__line {
        width: 100%;
    }
    .reviews__author {
        padding-left: 0;
    }
    
    .about-delfa {
        text-align: center;
    }
    .why-we__header {
        margin-right: 0;
    }
    .why-we__product-list {
        margin-right: -10px;
    }
    .why-we__product-list li {
        width: 50%;
        margin-bottom: 10px;
        padding-right: 10px;
    }


    .right-page .reviews__list,
    .reviews__view-all {
        display: none;
    }
    .right-page .reviews__header-reviews {
        display: none;
    }


    .footer__nav {
        padding-bottom: 60px;
    }
    .footer__nav  li {
        display: none;
    }

    .courses-tabs__tabs {
        -webkit-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
        transform: scale(.6);
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
    }
    .article {
        padding: 0 10px;
    }
}
@media(max-width: 950px) {
    .footer__social {
        display: none;
    }
    .footer__numbers {
        left: auto;
        right: 0;
        text-align: right;
        top: 0;
    }
    .footer__numbers a:first-child {
        margin-bottom: -5px;
    }
    .footer__address {
        left: auto;
        right: 0;
        top: 60px;
        text-align: right;
    }
    .footer__address p:nth-child(1) {
        margin-bottom: -5px;
    }
}
@media(max-width: 900px) {
    .content-960_with-padding-2 {
        padding-right: 10px;
    }
    .right-page-toggle {
        display: block;
    }
    .right-page {
        width: 290px !important;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 99;
        position: fixed;
        top: 0;
        right: -290px;
        height: 100%;
        margin-right: 0 !important;
        background-color: #fff;
        overflow: auto;
        padding-bottom: 10px;
        -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.75);
        -webkit-transition: right .3s;
        -o-transition: right .3s;
        transition: right .3s;
    }
    .right-page.active {
        right: 0;
    }
    .teacher-full__header {
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .clearfix-page {
        padding-bottom: 0;
    }
    .left-page .next-courses__all {
        width: 70px;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
@media(max-width: 890px) {
    .content-960_with-padding-1 {
        padding-right: 10px;
    }
    .content-960_with-padding-1 .right-block {
        display: none;
    }
    .middle-list-success {
        display: none;
    }
    .courses-footer {
        display: none;
    }
    .list-success.list-success_3 {
        display: none;
    }
    .courses h1 {
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: -10px;
    }
}
@media(max-width: 850px) {
    .header h1 {
        font-size: 20px;
        width: 300px;
        padding-top: 35px;
    }
}
@media(max-width: 800px) {
    .nav__header ul {
        display: block;
        white-space: nowrap !important;
        overflow: auto;
        overflow-y: hidden;
        font-size: 0;
    }
    .nav__header ul > li {
        display: inline-block !important;
        vertical-align: middle !important;
        padding: 0 !important;
    }
    .nav__header ul > li > a {
        padding: 0 20px !important;
    }

    .reviews__list li {
        width: 50%;
    }
    .reviews__list li:nth-child(3) .reviews__line,
    .reviews__list li:nth-child(4) .reviews__line {
        visibility: hidden;
        margin-bottom: 0;
    }
    .courses-content__headers {
        display: none;
    }
    .courses .next-courses__list {
        margin-right: -5px;
    }
    .courses-content li {
        width: 100%;
        padding-right: 5px;
    }
}
@media(max-width: 700px) {
    .header h1 {
        display: none;
    }
    .article h1 {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .article,
    .article p {
        font-size: 14px;
    }
    .article__sub-header {
        font-size: 20px;
    }
}
@media(max-width: 660px) {
    .map .content-960 {
        padding-left: 0;
    }
    .map__header {
        padding-top: 22px;
    }
    .map__left {
        float: none;
        padding-right: 0;
        width: 100%;
        margin-left: 0;
    }
    .why-we__teachers li {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        width: 300px;
        margin-bottom: 10px;
    }
    .why-we__teachers li:last-child {
        margin-bottom: 0;
    }
}
@media(max-width: 580px) {
    .why-we__product-list li {
        float: none;
        width: 100%;
        margin-right: 0;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .list-success.list-success_2 {
        display: none;
    }
    .next-courses__main-header {
        margin-top: 5px;
    }
    .next-courses__list li {
        width: 100%;
    }
    .why-we__advertising h6 {
        font-size: 16px;
        margin-top: -8px;
    }
    .why-we__teachers-all {
        display: block;
        float: none;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .reviews__list li {
        float: none;
        width: 300px;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
    .reviews__list li:nth-child(3) .reviews__line {
        margin-bottom: 24px;
        visibility: visible;
    }
    .map {
        margin-top: 19px;
    }
    .about-delfa {
        height: auto;
        padding-bottom: 70px;
    }
    .next-courses__all {
        width: 70px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 10px;
    }
}
@media(max-width: 500px) {
    .footer .logo {
        bottom: auto;
        top: 10px;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
    }
    .courses-tabs__tabs li {
        font-size: 18px;
        width: 250px;
    }
}
@media(max-width: 400px) {
    .header {
        padding-left: 5px;
        padding-right: 5px;
    }
    .why-we__advertising h6 {
        width: 300px;
        left: 50%;
        margin-left: -150px;
        margin-top: -18px;
    }
    .header .logo {
        top: 17px;
        -webkit-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
        transform: scale(.6);
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .left-page h1 {
        font-size: 24px;
    }
    .sub-header .content-960 {
        padding-right: 150px;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.clearfix_left {
    clear: left;
}